*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    max-height: 100vh;
    z-index: -1;
	background: #111;
}

body:before{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
    z-index: -1;
	background: rgba(0, 0, 0, 0.5);
}

body video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.1;
	pointer-events: none;
}

/* ============================== INICIO HEADER ============================== */

header{
    min-height: 10vh;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1;
}

header .logo{
	position: relative;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	text-decoration: none;
	background: -webkit-linear-gradient(#34af23, #228B22, #006600);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* nav .menu{
	max-width: 60px;
	cursor: pointer;
} */

/* header .menu i{
	display: none;
	max-width: 100%;
	color: #fff;
	cursor: pointer;
	background-color: salmon;
} */

nav ul{
	display: inline-flex;
	list-style: none;
	text-transform: uppercase;
}

.itemMenu{
	padding: 10px;
	margin: 0;
	color: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 50px;
	font-weight: 700;
}

.itemMenu:hover{
	text-decoration: underline overline #006600 double 5px;
}

.menuWide li{
	margin: 0 10px;
}

#menuTrilhas{
	width: fit-content;
	max-width: 85vw;
	min-width: 25vw;
	overflow-y: auto;
	height: 100px;
	visibility: hidden;
	position: absolute;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	top: 90px;
	right: 100px;
	margin-left: 100px;
	z-index: 1;
}

 li:hover #menuTrilhas{
	visibility: visible;
}

#menuTrilhas img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	cursor: pointer;
	transition: 00.5s;
}

#menuTrilhas img:hover{
	width: 95px;
	height: 95px;
}

/* ============================== FIM HEADER ============================== */


/* ============================== INICIO MAIN ============================== */

main{
    margin: 0;
    max-width: 100vw;
    position: relative;
	min-height: 70vh;
}

.container{
    padding: 0 100px;
    height: 400px;
    max-height: 70vh;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

#inicial{
	display: flex;
}

#trilhas{
	display: none;
}

#niveis{
	display: none;
}

.textBox{
    max-height: 70vh;
    overflow-x: hidden;
    margin-right: 50px;
    width: 50%;
}

.textBox h2{
	color: #fff;
	font-size: 3em;
    margin-bottom: 25px;
}

.textBox p{
	color: #fff;
	font-size: 1.1em;
	margin: 5px 0 25px;
}

.textBox a{
	width: 200px;
	text-align: center;
	position: relative;
	display: inline-block;
	color: #fff;
	padding: 15px 25px;
	margin: 25px 35%;
	font-size: 1.1em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	background: linear-gradient(#34af23, #228B22, #006600);
	transition: box-shadow 0.2s ease;
}

.textBox a:hover{
	box-shadow: 1px 1px 25px 1px #006600;
}

.videoBx{
    margin-left: 50px;
    width: 50%;
    height: 400px;
    background: #fff;
}

/* ============================== FIM MAIN ============================== */


/* ============================== INICIO FOOTER ============================== */

footer{
    max-height: 10vh;
    position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
}

footer ul{
	bottom: 20px; 
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

span{
	margin-right: 45vw;
	font-size: 12px;
	color: #fff;
}

footer ul li{
	list-style: none;
}

footer ul li a{
	display: inline-block;
	margin-right: 25px; 
}

.insta, .whats, .youtu{
	background: -webkit-linear-gradient(#34af23, #228B22, #006600);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.insta:hover{
	background: -webkit-linear-gradient(#8A2387, #E94057, #F27121);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.whats:hover{
	background: -webkit-linear-gradient(#075e54, #128c7e, #25d366);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.youtu:hover{
	background: -webkit-linear-gradient(#bb0000, #ff0000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ============================== FIM FOOTER ============================== */

/* ============================== INICIO MODAIS ============================== */

.modal-container{
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	display: none;
	justify-content: center;
	align-items: center;
	border: 0px;
}

.modal{
	animation: modal .3s;
	position: absolute;
	width: 40%;
	height: 80vh;
	overflow: auto;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
}

.cabecalho{
	position: relative;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
}

.close{
	position: absolute;
	top: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	width: 30px;
	height: 30px;
	background: linear-gradient(#34af23, #228B22, #006600);
	color: white;
	padding: 3px;
	font-size: 25px;
	cursor: pointer;
}

.modal h2{
	color: #fff;
	margin: auto 50px;
	text-align: left;
}

.mostrar{
	display: flex;
}

.modal p{
	padding: 50px;
	text-align: justify;
}

@keyframes modal{
	from{
		opacity: 0;
		transform: translate3d(0, -60px, 0);
	}

	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* ============================== FIM MODAIS ============================== */

/* ============================== INICIO RESPONSIVIDADE ============================== */

@media (max-width: 991px){
	header{
		padding: 20px 50px;
	}
	.inicial{
		padding: 150px 50px 0;
	}

	.inicial:before{
		display: none;
	}
	.inicial .textBox{
		max-width: 100%;
	}

	.inicial .textBox h2{
		font-size: 2.5em;
	}

	.inicial .videoBx{
		width: 100%;
		height: 200px;
		margin: 40px 0 100px;
	}

	.inicial .sci{
		left: 50px;
	}

}

/* ============================== FIM RESPONSIVIDADE ============================== */

/* ============================== INICIO OUTROS ============================== */

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	border: 7px solid #232943;
	box-shadow: inset 0 0 2.5px 2px rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent, #006600, #008000, #0d730d);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(transparent, #006600);
}

/* ============================== FIM OUTROS ============================== */